@using ApplicationCore.Entities
@model ApplicationCore.Models.MovieDetailsResponseModel

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Model.PosterUrl" alt="Movie Poster"/>
        </div>
        <div class="col">
            <h2>@Model.Title</h2>
            <h10>@Model.Tagline</h10><br>
            <h9>
                @Model.RunTime m | @Model.Releasedate
                
                @foreach (var genre in Model.Genres)
                {
                    <span class="badge bg-secondary">@genre.Name</span>
                }
            </h9>
            <p> @Model.Overview </p>
        </div>
        <div class="col">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Review
            </button>
            <br>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#buyMovieModel">
                BUY $@Model.Price
            </button>
            
            <partial name="_ReviewModal"/>

            <partial name="_PurchaseModal"/>
            
        </div>
    </div>

    <div class="row">
        <div class="col">
            Movie Facts

            <ul class="list-group">
                <li class="list-group-item">Release Date <span class="badge bg-secondary"> @Model.Releasedate </span></li>
                <li class="list-group-item">Run Time <span class="badge bg-secondary"> @Model.RunTime m</span></li>
                <li class="list-group-item">Box Office <span class="badge bg-secondary">$825,532,764.00</span></li>
                <li class="list-group-item">Budget <span class="badge bg-secondary"> @Model.Budget </span></li>
            </ul>

            @foreach (var trailer in Model.Trailers)
            {
                <ul class="list-group">
                    <li class="list-group-item"><a href="@trailer.TrailerUrl"> @trailer.Name </a></li>
                </ul>
            }

            
        </div>
        <div class="col">
            Cast
            @foreach (var cast in Model.Casts)
            {
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><img src="@cast.ProfilePath" style="width:7%;" class="bg-info rounded-circle"/></li>
                    <li class="list-group-item"> @cast.Name </li>
                    <li class="list-group-item"> @cast.Character </li>
                </ul>
            }

        </div>
    </div>
</div>

